In [13]:
import pandas as pd 
file_path ="C:/Users/arthu/OneDrive/Bureau/Introduction+python+data+science/pandas"
df = pd.read_csv(file_path + "/covid-19.csv")
data = df.iloc[:,1:]
data.head()
mask = data ["geoId"] == "US"  
us_data = data[mask]
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
575,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America
576,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America
577,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America
578,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America
579,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America

In [17]:
us_data = us_data.reset_index(drop=True)
us_data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America
...,...,...,...,...,...,...,...,...,...,...,...
110,2020-01-04,4,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
111,2020-01-03,3,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
112,2020-01-02,2,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
113,2020-01-01,1,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
114,2019-12-31,31,12,2019,0,0,United_States_of_America,US,USA,327167434.0,America

In [28]:
total_rows = len(us_data)
us_data["growth ratio"] = 0 
for i in range [total_rows -2 ,-1,-1]:
         
    us_data.loc[i, "growth_ratio"] = us_data.loc[ i, "new cases"] / us_data.loc[i+1,"new cases"]

TypeError: type 'range' is not subscriptable