In [6]:
import pandas as pd 

df = pd.read_csv("C:/Users/arthu/OneDrive/Bureau/Introduction+python+data+science/pandas/covid-19.csv")

df.head()

mask = df ["geoId"] == "BE"  
df[mask]
mask= df["cases"]>200
df[mask]

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
614,12176,2020-03-15,15,3,2020,777,10,United_States_of_America,US,USA,327167434.0,America
615,12177,2020-03-14,14,3,2020,511,7,United_States_of_America,US,USA,327167434.0,America
616,12178,2020-03-13,13,3,2020,351,10,United_States_of_America,US,USA,327167434.0,America
617,12179,2020-03-12,12,3,2020,287,2,United_States_of_America,US,USA,327167434.0,America
618,12180,2020-03-11,11,3,2020,271,2,United_States_of_America,US,USA,327167434.0,America

In [4]:
df.describe()

,Unnamed: 0,day,month,year,cases,deaths,popData2018
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,6.900000e+02
mean,7785.666667,15.078261,2.486957,2019.991304,2221.565217,201.866667,9.653679e+07
std,4174.782873,8.616804,1.405144,0.092912,5717.666660,446.431768,1.049538e+08
min,1257.000000,1.000000,1.000000,2019.000000,0.000000,0.000000,1.142207e+07
25%,4200.250000,8.000000,1.000000,2020.000000,0.000000,0.000000,4.672375e+07
50%,8482.500000,15.000000,2.000000,2020.000000,3.000000,0.000000,6.346014e+07
75%,12040.750000,22.000000,3.000000,2020.000000,1870.000000,202.750000,6.698724e+07
max,12251.000000,31.000000,12.000000,2020.000000,37289.000000,4928.000000,3.271674e+08

In [10]:
df.std

<bound method DataFrame.std of      Unnamed: 0     dateRep  day  month  year  cases  deaths  \
0          1257  2020-04-23   23      4  2020    933     264
1          1258  2020-04-22   22      4  2020    973     170
2          1259  2020-04-21   21      4  2020   1487     145
3          1260  2020-04-20   20      4  2020   1313     230
4          1261  2020-04-19   19      4  2020   1045     290
..          ...         ...  ...    ...   ...    ...     ...
685       12247  2020-01-04    4      1  2020      0       0
686       12248  2020-01-03    3      1  2020      0       0
687       12249  2020-01-02    2      1  2020      0       0
688       12250  2020-01-01    1      1  2020      0       0
689       12251  2019-12-31   31     12  2019      0       0

      countriesAndTerritories geoId countryterritoryCode  popData2018  \
0                     Belgium    BE                  BEL   11422068.0
1                     Belgium    BE                  BEL   11422068.0
2                     Belgium    BE                  BEL   11422068.0
3                     Belgium    BE                  BEL   11422068.0
4                     Belgium    BE                  BEL   11422068.0
..                        ...   ...                  ...          ...
685  United_States_of_America    US                  USA  327167434.0
686  United_States_of_America    US                  USA  327167434.0
687  United_States_of_America    US                  USA  327167434.0
688  United_States_of_America    US                  USA  327167434.0
689  United_States_of_America    US                  USA  327167434.0

    continentExp
0         Europe
1         Europe
2         Europe
3         Europe
4         Europe
..           ...
685      America
686      America
687      America
688      America
689      America

[690 rows x 12 columns]>

In [16]:
df["popData2018"].mean()

96536794.83333333